<div class="flex justify-center">
    <div class="text-m py-4 flex justify-between items-center w-[75%] border-t-blue max-sm:flex-col max-sm:gap-2">
        <a href="https://alfonsinadvp.web.app/" target="_blank" class="text-grey hover:font-bold transform transition-transform hover:scale-110">© {{ year }} YAG | All Rights Reserved</a>
        <div class="flex justify-end gap-2">
            <a href="https://www.facebook.com/alfonsina.guido" target="_blank"><img src="assets/svg/facebook.svg" alt="icon-facebook" class="transform transition-transform hover:scale-110"></a>
            <a href="https://www.instagram.com/alfonsinaguido" target="_blank"><img src="assets/svg/instagram.svg" alt="icon-instagram" class="transform transition-transform hover:scale-110"></a>
            <a href="https://github.com/AlfonsinaGuido" target="_blank"><img src="assets/svg/github.svg" alt="icon-github" class="transform transition-transform hover:scale-110"></a>
            <a href="https://www.linkedin.com/in/alfonsina-guido" target="_blank"><img src="assets/svg/linkedin.svg" alt="icon-linkedin" class="transform transition-transform hover:scale-110"></a>
            <a href="https://www.youtube.com/channel/UC-QzUc9mOCUpdMklcGG6pRA" target="_blank"><img src="assets/svg/youtube.svg" alt="icon-youtube" class="transform transition-transform hover:scale-110"></a>
        </div>
    </div>
</div>
